

.carts-view{
display: flex;


}

.card {
  background: #1e1e1e;
  color: white;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  font-size: 14px;
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card:hover{
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
}

.card-header {
  background: #0077b6;
  padding: 15px;
  text-align: center;
}

.player-name {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.card-rating {
  margin-top: 5px;
  font-size: 18px;
}

.card-body {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.player-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.player-info {
  flex-grow: 1;
  margin-left: 10px;
}

.position, .nationality, .club {
  margin: 5px 0;
}

.card-footer {
  background: #333;
  padding: 10px;
  
}

.card-statistics div {
  margin: 5px 0;
}


.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.toggle-button:hover {
  background-color: #005f99;
}


.player-card {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background: rgb(22, 81, 22);
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-size: 14px;
  display: none; /* Początkowo karta jest ukryta */
  z-index: 10;
}

.my-card-footer{
  background-color: rgb(0, 128, 0);
}

.edit-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -5px;
}

.edit-button:hover {
  background-color: #005f99;
}

.add-card-button {
  margin: 10px;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #0077b6;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.add-card-button:hover {
  background-color: #005f99;
}

.cards-container {
  display: flex;
  
}

.new-card {
  display: none; /* Ukryty szablon */
  
  background: #333;

}

/* Pola wejściowe */
input {
  width: calc(100% - 20px);
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Przycisk zapisywania karty */
.save-card-button {
  margin: 10px auto;
  display: block;
  padding: 10px 20px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-card-button:hover {
  background-color: #005f99;
}

.twoje-biznesy{
  font-size: 30px;
}